table {
    width:100%;
    border:1px solid;
}
table td:nth-child(2){
    background-color: blueviolet;
 }
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} 
table th {
    background-color: black;
    color: white;
}
.changecolor td:nth-child(2){
    background-color: green !important;
 }