{{!-- The following component displays Ember's default welcome message. --}}
{{!--welcome-page --}}
{{!-- Feel free to remove this! --}}
{{!-- <h2>Routing</h2>
<div>
     {{#link-to 'index'}}Home{{/link-to}}
     {{#link-to 'about'}}About{{/link-to}}
     {{#link-to 'product'}}Products{{/link-to}}
     {{#link-to 'product.new'}}Create a product{{/link-to}}
 </div>
 <hr> --}}

{{outlet}}