<div class="container">
  <header>
    <h1 class="title">Questions and Answers</h1>
    <hr>
    <div class="navbar">
      {{#link-to 'index'}}Back To Home{{/link-to}}
    </div>
    <hr>
  </header>

  {{outlet}}

  <footer class="credits">
    <p>Powered by Ember 3</p>
  </footer>

</div>